@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IBMPlexSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "IBMPlexSans";
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "IBMPlexSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  }
}

:root {
  --theme-color-primary: rgb(22, 26, 30);
  --theme-color-secondary: rgb(183, 189, 198);
  --toastify-color-dark: #2b3139 !important;
  --toastify-color-success: #0dcb81 !important;
  --toastify-color-warning: #f0b90b !important;
  --toastify-color-error: #f6475d !important;
  --toastify-text-color-dark: #b7bdc6 !important;
  --toastify-toast-width: 320px !important;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 54px !important;
}

.Toastify__close-button {
  color: #b7bdc6 !important;
}

.Toastify__toast-body {
  padding-top: 6px !important;
}

body {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-secondary);
  font-family: "IBMPlexSans";
  overflow-x: hidden !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

input[type="range"].slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
}

input[type="range"].slider::-moz-range-track {
  background: transparent;
}

input[type="range"].slider::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  display: none;
}

.custom-thumb {
  position: absolute;
  box-sizing: border-box;
  min-width: 0px;
  width: 16px;
  height: 16px;
  transform: rotate(45deg); /* Vratite transform: translateX(-50%) */
  background-color: rgb(43, 49, 57);
  border-radius: 2px;
  border: 4px solid rgb(245, 245, 245);
  z-index: 20;
  cursor: grab;
  transition: box-shadow 0.2s ease 0s;
}

.custom-thumb::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(30, 35, 41);
  border-radius: 4px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
