@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IBMPlexSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "IBMPlexSans";
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "IBMPlexSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  }
}

:root {
  --theme-color-primary: rgb(22, 26, 30);
  --theme-color-secondary: rgb(183, 189, 198);
  --toastify-color-dark: #2b3139 !important;
  --toastify-color-success: #0dcb81 !important;
  --toastify-color-warning: #f0b90b !important;
  --toastify-color-error: #f6475d !important;
  --toastify-text-color-dark: #b7bdc6 !important;
  --toastify-toast-width: 320px !important;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 54px !important;
}

.Toastify__close-button {
  color: #b7bdc6 !important;
}

.Toastify__toast-body {
  padding-top: 6px !important;
}

body {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-secondary);
  font-family: "IBMPlexSans";
  overflow-x: hidden !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

input[type="range"].slider {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* input[type="range"].slider:hover {
  opacity: 1;
} */

input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* for Chrome, Safari, Opera */
  appearance: none; /* Standard property */
  width: 14px;
  height: 14px;
  background: #4caf50;
  cursor: pointer;
}

input[type="range"].slider::-moz-range-thumb {
  -moz-appearance: none; /* for Firefox */
  appearance: none; /* Standard property */
  width: 14px;
  height: 14px;
  background: #4caf50;
  cursor: pointer;
}

.slider {
  position: relative;
  z-index: 1000;
}

.adjust-marker-3 {
  transform: translateX(-1px);
}

.adjust-marker-4 {
  transform: translateX(-2px);
}
