@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IBMPlexSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "IBMPlexSans";
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "IBMPlexSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../public/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  }
}

:root {
  --theme-color-primary: rgb(22, 26, 30);
  --theme-color-secondary: rgb(183, 189, 198);;
}

body {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-secondary);  
  font-family: "IBMPlexSans";
  overflow-x: hidden!important;
 }